# Includes
### 1. Sorting dataframes
### 2. Merging dataframes

In [2]:
import pandas as pd
import numpy as np

C:\Users\Harsh Raj\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
data = pd.read_csv('bigmart_data.csv')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
#find the count of null values in each column
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
# dropping the null values
data = data.dropna(how='any')
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [6]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

#  1. Sorting Dataframes

### <ol>1. sort_values(): to sort pandas dataframe by one or more columns
###  <ol>2. sort_index(): to sort pandas dataframe by row index

In [11]:
# sorting by Item_Weight

sorted_data = data.sort_values(by='Item_Weight')
sorted_data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3489,FDP40,4.555,Regular,0.034351,Frozen Foods,112.7544,OUT035,2004,Small,Tier 2,Supermarket Type1,1789.6704
7808,FDP40,4.555,Regular,0.034329,Frozen Foods,110.1544,OUT013,1987,High,Tier 3,Supermarket Type1,1230.3984
4400,FDP40,4.555,Regular,0.034411,Frozen Foods,111.3544,OUT049,1999,Medium,Tier 1,Supermarket Type1,1342.2528
4430,FDP40,4.555,Regular,0.034357,Frozen Foods,112.6544,OUT046,1997,Small,Tier 1,Supermarket Type1,2684.5056
6432,DRE12,4.590,Low Fat,0.070722,Soft Drinks,113.2860,OUT013,1987,High,Tier 3,Supermarket Type1,1471.4180
1082,DRE12,4.590,Low Fat,0.070891,Soft Drinks,111.6860,OUT049,1999,Medium,Tier 1,Supermarket Type1,1584.6040
1515,DRE12,4.590,Low Fat,0.070781,Soft Drinks,114.5860,OUT046,1997,Small,Tier 1,Supermarket Type1,1245.0460
3077,DRE12,4.590,Low Fat,0.070767,Soft Drinks,111.9860,OUT035,2004,Small,Tier 2,Supermarket Type1,792.3020
6335,DRF23,4.610,Low Fat,0.122629,Hard Drinks,175.4396,OUT035,2004,Small,Tier 2,Supermarket Type1,2616.5940
7559,DRF23,4.610,Low Fat,0.123152,Hard Drinks,175.2396,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.2752

In [14]:
''' sort_value() has multiple parameters like:
        1. ascending: takes boolean value, True for ascending order, False for descending order
        2. inplace: whether to do inplace sorting or not. Reflets the changes in the original dataframe
'''
data.sort_values(by='Item_Weight', ascending=False, inplace=True)
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4468,FDC02,21.35,Low Fat,0.068822,Canned,258.3278,OUT046,1997,Small,Tier 1,Supermarket Type1,7028.8506
2368,FDC02,21.35,Low Fat,0.068809,Canned,258.5278,OUT035,2004,Small,Tier 2,Supermarket Type1,5206.5560
2802,FDC02,21.35,Low Fat,0.068765,Canned,260.4278,OUT013,1987,High,Tier 3,Supermarket Type1,3644.5892
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376
8221,NCO42,21.25,Low Fat,0.024756,Household,146.7102,OUT018,2009,Medium,Tier 3,Supermarket Type2,1603.9122
6705,FDA45,21.25,Low Fat,0.156013,Snack Foods,177.3370,OUT018,2009,Medium,Tier 3,Supermarket Type2,2822.9920
3632,FDT03,21.25,Low Fat,0.010039,Meat,181.7608,OUT018,2009,Medium,Tier 3,Supermarket Type2,1102.5648
5959,FDQ21,21.25,low fat,0.019407,Snack Foods,119.3756,OUT013,1987,High,Tier 3,Supermarket Type1,3271.7412
5111,NCO42,21.25,LF,0.024651,Household,146.0102,OUT035,2004,Small,Tier 2,Supermarket Type1,2916.2040

In [15]:
data = pd.read_csv('bigmart_data.csv')
data = data.dropna(how='any')

In [17]:
#Sorting data based on multiple columns
#Sorts the data by firsdt sorting the first column name passed and then sorting the second column
data.sort_values(by=['Item_Weight', 'Item_MRP'], ascending=False).head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2802,FDC02,21.35,Low Fat,0.068765,Canned,260.4278,OUT013,1987,High,Tier 3,Supermarket Type1,3644.5892
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
2368,FDC02,21.35,Low Fat,0.068809,Canned,258.5278,OUT035,2004,Small,Tier 2,Supermarket Type1,5206.5560
4468,FDC02,21.35,Low Fat,0.068822,Canned,258.3278,OUT046,1997,Small,Tier 1,Supermarket Type1,7028.8506
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376
7158,NCX17,21.25,Low Fat,0.114066,Health and Hygiene,233.0300,OUT018,2009,Medium,Tier 3,Supermarket Type2,5592.7200
2232,FDT03,21.25,Low Fat,0.009997,Meat,185.5608,OUT035,2004,Small,Tier 2,Supermarket Type1,3123.9336
6223,FDT03,21.25,Low Fat,0.009999,Meat,182.3608,OUT046,1997,Small,Tier 1,Supermarket Type1,551.2824
3632,FDT03,21.25,Low Fat,0.010039,Meat,181.7608,OUT018,2009,Medium,Tier 3,Supermarket Type2,1102.5648
148,FDA45,21.25,Low Fat,0.155350,Snack Foods,178.2370,OUT035,2004,Small,Tier 2,Supermarket Type1,529.3110

## Sorting based on index, sort_index()

In [18]:
data.sort_index(inplace=True)
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076

# BINNING in PANDAS

### When dealing with continuous numeric data, it is often helpful to bin the data into multiple buckets for further analysis. There are several different terms for binning including bucketing, discrete binning and discretization. 
### Pandas supports these approaches using the cut and function.

In [3]:
df_ages = pd.DataFrame({'age': np.random.randint(21, 51, 8)})
df_ages

   age
0   41
1   34
2   45
3   26
4   34
5   27
6   24
7   47

In [8]:
# This code creates a new column called age_bins that sets the x argument to the 
#  age column in df_ages and sets the bins argument to a list of bin edge values. 
#  The left bin edge will be exclusive and the right bin edge will be inclusive.
#  The bins will be for ages: (20, 29] (someone in their 20s), (30, 39], and (40, 49].

df_ages['age_bins'] = pd.cut(x= df_ages['age'], bins = [20, 29, 39, 49])
df_ages

   age  age_bins
0   41  (39, 49]
1   34  (29, 39]
2   45  (39, 49]
3   26  (20, 29]
4   34  (29, 39]
5   27  (20, 29]
6   24  (20, 29]
7   47  (39, 49]

In [9]:
df_ages['age_bins'].unique()

[(39, 49], (29, 39], (20, 29]]
Categories (3, interval[int64, right]): [(20, 29] < (29, 39] < (39, 49]]

In [11]:
# This code creates a new column called age_by_decade with the same first 2 
# arguments as above, and a third argument of labels set to a list of values 
# that correspond to how the age values will be put in bins by decades.

df_ages['age_by_decade'] = pd.cut(x=df_ages['age'], bins=[20, 29, 39, 49], labels=['20s', '30s', '40s'])
df_ages

   age  age_bins age_by_decade
0   41  (39, 49]           40s
1   34  (29, 39]           30s
2   45  (39, 49]           40s
3   26  (20, 29]           20s
4   34  (29, 39]           30s
5   27  (20, 29]           20s
6   24  (20, 29]           20s
7   47  (39, 49]           40s

# 3. Apply Function
#####  Apply function can be used to perform pre-proccesing/data manipulation on your data both row wise and column wise.
##### It is faster ethod than simply using for loop over the database
##### Almost everytime if we need to iterate over the dataframe, then we use apply function

In [14]:
# Accessing data row-wise
data.apply(lambda x: x)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [15]:
# Accessing first row
data.apply(lambda x: x[0])

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                       0.016047
Item_Type                                Dairy
Item_MRP                              249.8092
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                     3735.138
dtype: object

In [16]:
# Accessing first column
data.apply(lambda x: x[0], axis=1)

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Length: 8523, dtype: object

In [17]:
# Access by column name
data.apply(lambda x: x['Item_Type'], axis=1)

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Length: 8523, dtype: object

In [22]:
# We can also use apply to implement a function or a condition

#I want to clip all the prices whose value is greater than 150

def clip_by_price(price):
    if price>150:
        price = 150
        
    return price

data["Item_MRP"].apply(lambda x: clip_by_price(x))[:10]

0    150.0000
1     48.2692
2    141.6180
3    150.0000
4     53.8614
5     51.4008
6     57.6588
7    107.7622
8     96.9726
9    150.0000
Name: Item_MRP, dtype: float64

In [23]:
# Suppose i want to label encode any data from categorical data to discrete data

In [29]:
data["Outlet_Location_Type"][:10]

0    Tier 1
1    Tier 3
2    Tier 1
3    Tier 3
4    Tier 3
5    Tier 3
6    Tier 3
7    Tier 3
8    Tier 2
9    Tier 2
Name: Outlet_Location_Type, dtype: object

In [30]:
#Now suppose i want to encode 'Tier1' as '0', 'Tier2' as '1', 'Tier3' as '3'

def encode(city):
    if city=='Tier 1':
        label=0
    elif city == 'Tier 2':
        label=1
    else:
        label=2
    return label


data['Outlet_Location_Type'] = data['Outlet_Location_Type'].apply(encode)
data['Outlet_Location_Type'][:10]

0    0
1    2
2    0
3    2
4    2
5    2
6    2
7    2
8    1
9    1
Name: Outlet_Location_Type, dtype: int64

# DATA AGGREGATION

### 1. groupby
### 2. crosstab
### 3. pivottable

In [6]:
# NOW  WANT TO FIND WHAT IS THE MEAN PRICE FOR EACH ITEM TYPE
# WE CAN USE GROUPBY
# FIRST WE WILL GROUP THE DATA BY Item_Type COLUMN

In [7]:
price_by_item = data.groupby('Item_Type')
price_by_item.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDW11,12.600,Low Fat,0.048981,61.9194,OUT018,2009,Medium,Tier 3,Supermarket Type2,619.1940
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC02,21.350,Low Fat,0.069103,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDR28,13.850,Regular,0.025896,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
Fruits and Vegetables,FDY07,11.800,Low Fat,0.000000,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
Hard Drinks,DRJ59,11.650,low fat,0.019356,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCM43,14.500,Low Fat,0.019472,164.8210,OUT035,2004,Small,Tier 2,Supermarket Type1,2120.5730
Seafood,FDH21,10.395,Low Fat,0.031274,160.0604,OUT049,1999,Medium,Tier 1,Supermarket Type1,1267.6832
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDB11,16.000,Low Fat,0.060837,226.8404,OUT035,2004,Small,Tier 2,Supermarket Type1,6301.1312

In [8]:
# Now we find the mean of Item_MRP

price_by_item.Item_MRP.mean()

Item_Type
Baking Goods             125.795653
Breads                   141.300639
Breakfast                134.090683
Canned                   138.551179
Dairy                    149.481471
Frozen Foods             140.095830
Fruits and Vegetables    145.418257
Hard Drinks              140.102908
Health and Hygiene       131.437324
Household                149.884244
Meat                     140.279344
Others                   137.640870
Seafood                  146.595782
Snack Foods              147.569955
Soft Drinks              130.910182
Starchy Foods            151.256747
Name: Item_MRP, dtype: float64

In [9]:
#Applying groupby on multiple columns

multiple_group = data.groupby(["Item_Type", "Outlet_Type"])
multiple_group.first()

                                        Item_Identifier  Item_Weight  \
Item_Type             Outlet_Type
Baking Goods          Supermarket Type1           FDL12       15.850
                      Supermarket Type2           FDP36       10.395
Breads                Supermarket Type1           FDT59       13.650
                      Supermarket Type2           FDW11       12.600
Breakfast             Supermarket Type1           FDP49        9.000
                      Supermarket Type2           FDO01       21.100
Canned                Supermarket Type1           FDL50       12.150
                      Supermarket Type2           FDC02       21.350
Dairy                 Supermarket Type1           FDA15        9.300
                      Supermarket Type2           FDH27        7.075
Frozen Foods          Supermarket Type1           FDR28       13.850
                      Supermarket Type2           FDR28       13.850
Fruits and Vegetables Supermarket Type1           FDY07       11.800
                      Supermarket Type2           FDM20       10.000
Hard Drinks           Supermarket Type1           DRJ59       11.650
                      Supermarket Type2           DRN47       12.100
Health and Hygiene    Supermarket Type1           NCX29       10.000
                      Supermarket Type2           NCB42       11.800
Household             Supermarket Type1           NCD19        8.930
                      Supermarket Type2           NCI18       18.350
Meat                  Supermarket Type1           FDN15       17.500
                      Supermarket Type2           FDP51       13.850
Others                Supermarket Type1           NCM43       14.500
                      Supermarket Type2           NCQ38       16.350
Seafood               Supermarket Type1           FDH21       10.395
                      Supermarket Type2           FDG21       17.350
Snack Foods           Supermarket Type1           FDO10       13.650
                      Supermarket Type2           FDP33       18.700
Soft Drinks           Supermarket Type1           DRH01       17.500
                      Supermarket Type2           DRC01        5.920
Starchy Foods         Supermarket Type1           FDB11       16.000
                      Supermarket Type2           FDC23       18.000

                                        Item_Fat_Content  Item_Visibility  \
Item_Type             Outlet_Type
Baking Goods          Supermarket Type1          Regular         0.121633
                      Supermarket Type2          Regular         0.000000
Breads                Supermarket Type1          Low Fat         0.015908
                      Supermarket Type2          Low Fat         0.048981
Breakfast             Supermarket Type1          Regular         0.069089
                      Supermarket Type2          Regular         0.020803
Canned                Supermarket Type1          Regular         0.042278
                      Supermarket Type2          Low Fat         0.069103
Dairy                 Supermarket Type1          Low Fat         0.016047
                      Supermarket Type2          Low Fat         0.058585
Frozen Foods          Supermarket Type1          Regular         0.025896
                      Supermarket Type2              reg         0.026002
Fruits and Vegetables Supermarket Type1          Low Fat         0.000000
                      Supermarket Type2          Low Fat         0.000000
Hard Drinks           Supermarket Type1          low fat         0.019356
                      Supermarket Type2          Low Fat         0.016895
Health and Hygiene    Supermarket Type1          Low Fat         0.089291
                      Supermarket Type2          Low Fat         0.008596
Household             Supermarket Type1          Low Fat         0.000000
                      Supermarket Type2          Low Fat         0.014081
Meat                  Supermarket Type1          Low Fat         0.016760
                      Supermarket Type2          Regular         0.085622
Others                Supermarket Type1          Low Fat         0.019472
                      Supermarket Type2          Low Fat         0.013421
Seafood               Supermarket Type1          Low Fat         0.031274
                      Supermarket Type2          Regular         0.146896
Snack Foods           Supermarket Type1          Regular         0.012741
                      Supermarket Type2          Low Fat         0.000000
Soft Drinks           Supermarket Type1          Low Fat         0.097904
                      Supermarket Type2          Regular         0.019278
Starchy Foods         Supermarket Type1          Low Fat         0.060837
                      Supermarket Type2          Low Fat         0.017979

                                         Item_MRP Outlet_Identifier  \
Item_Type             Outlet_Type
Baking Goods          Supermarket Type1   60.6220            OUT046
                      Supermarket Type2   51.4008            OUT018
Breads                Supermarket Type1  231.1668            OUT035
                      Supermarket Type2   61.9194            OUT018
Breakfast             Supermarket Type1   56.3614            OUT046
                      Supermarket Type2  129.7994            OUT018
Canned                Supermarket Type1  126.5046            OUT013
                      Supermarket Type2  259.9278            OUT018
Dairy                 Supermarket Type1  249.8092            OUT049
                      Supermarket Type2  142.7128            OUT018
Frozen Foods          Supermarket Type1  165.0210            OUT046
                      Supermarket Type2  161.5210            OUT018
Fruits and Vegetables Supermarket Type1   45.5402            OUT049
                      Supermarket Type2  246.9144            OUT018
Hard Drinks           Supermarket Type1   39.1164            OUT013
                      Supermarket Type2  178.5660            OUT018
Health and Hygiene    Supermarket Type1  146.7102            OUT049
                      Supermarket Type2  115.3492            OUT018
Household             Supermarket Type1   53.8614            OUT013
                      Supermarket Type2  223.5746            OUT018
Meat                  Supermarket Type1  141.6180            OUT049
                      Supermarket Type2  119.4124            OUT018
Others                Supermarket Type1  164.8210            OUT035
                      Supermarket Type2  104.8280            OUT018
Seafood               Supermarket Type1  160.0604            OUT049
                      Supermarket Type2  149.6050            OUT018
Snack Foods           Supermarket Type1   57.6588            OUT013
                      Supermarket Type2  256.6672            OUT018
Soft Drinks           Supermarket Type1  174.8738            OUT046
                      Supermarket Type2   48.2692            OUT018
Starchy Foods         Supermarket Type1  226.8404            OUT035
                      Supermarket Type2  178.3686            OUT018

                                         Outlet_Establishment_Year  \
Item_Type             Outlet_Type
Baking Goods          Supermarket Type1                       1997
                      Supermarket Type2                       2009
Breads                Supermarket Type1                       2004
                      Supermarket Type2                       2009
Breakfast             Supermarket Type1                       1997
                      Supermarket Type2                       2009
Canned                Supermarket Type1                       1987
                      Supermarket Type2                       2009
Dairy                 Supermarket Type1                       1999
                      Supermarket Type2                       2009
Frozen Foods          Supermarket Type1                       1997
                      Supermarket Type2                       2009
Fruits and Vegetables Supermarket Type1                       1999
                      Supermarket Type2                       2009
Hard Drinks           Supermarket Type1                       1987
                      Supermarket Type2                       2009
Health and Hygiene    Supermarket Type1                       1999
                      Supermarket Type2                       2009
Household             Supermarket Type1                       1987
                      Supermarket Type2                       2009
Meat                  Supermarket Type1                       1999
                      Supermarket Type2                       2009
Others                Supermarket Type1                       2004
                      Supermarket Type2                       2009
Seafood               Supermarket Type1                       1999
                      Supermarket Type2                       2009
Snack Foods           Supermarket Type1                       1987
                      Supermarket Type2                       2009
Soft Drinks           Supermarket Type1                       1997
                      Supermarket Type2                       2009
Starchy Foods         Supermarket Type1                       2004
                      Supermarket Type2                       2009

                                        Outlet_Size Outlet_Location_Type  \
Item_Type             Outlet_Type
Baking Goods          Supermarket Type1       Small               Tier 1
                      Supermarket Type2      Medium               Tier 3
Breads                Supermarket Type1       Small               Tier 2
                      Supermarket Type2      Medium               Tier 3
Breakfast             Supermarket Type1       Small               Tier 1
                      Supermarket Type2      Medium               Tier 3
Canned                Supermarket Type1        High               Tier 3
                      Supermarket Type2      Medium               Tier 3
Dairy                 Supermarket Type1      Medium               Tier 1
                      Supermarket Type2      Medium               Tier 3
Frozen Foods          Supermarket Type1       Small               Tier 1
                      Supermarket Type2      Medium               Tier 3
Fruits and Vegetables Supermarket Type1      Medium               Tier 1
                      Supermarket Type2      Medium               Tier 3
Hard Drinks           Supermarket Type1        High               Tier 3
                      Supermarket Type2      Medium               Tier 3
Health and Hygiene    Supermarket Type1      Medium               Tier 1
                      Supermarket Type2      Medium               Tier 3
Household             Supermarket Type1        High               Tier 3
                      Supermarket Type2      Medium               Tier 3
Meat                  Supermarket Type1      Medium               Tier 1
                      Supermarket Type2      Medium               Tier 3
Others                Supermarket Type1       Small               Tier 2
                      Supermarket Type2      Medium               Tier 3
Seafood               Supermarket Type1      Medium               Tier 1
                      Supermarket Type2      Medium               Tier 3
Snack Foods           Supermarket Type1        High               Tier 3
                      Supermarket Type2      Medium               Tier 3
Soft Drinks           Supermarket Type1       Small               Tier 1
                      Supermarket Type2      Medium               Tier 3
Starchy Foods         Supermarket Type1       Small               Tier 2
                      Supermarket Type2      Medium               Tier 3

                                         Item_Outlet_Sales
Item_Type             Outlet_Type
Baking Goods          Supermarket Type1          2576.6460
                      Supermarket Type2           556.6088
Breads                Supermarket Type1          6911.0040
                      Supermarket Type2           619.1940
Breakfast             Supermarket Type1          1547.3192
                      Supermarket Type2          1284.9940
Canned                Supermarket Type1           373.5138
                      Supermarket Type2          6768.5228
Dairy                 Supermarket Type1          3735.1380
                      Supermarket Type2          1869.5664
Frozen Foods          Supermarket Type1          4078.0250
                      Supermarket Type2          1794.3310
Fruits and Vegetables Supermarket Type1          1516.0266
                      Supermarket Type2          3185.1872
Hard Drinks           Supermarket Type1           308.9312
                      Supermarket Type2           898.8300
Health and Hygiene    Supermarket Type1          3791.0652
                      Supermarket Type2          1621.8888
Household             Supermarket Type1           994.7052
                      Supermarket Type2          3589.9936
Meat                  Supermarket Type1          2097.2700
                      Supermarket Type2          2251.7356
Others                Supermarket Type1          2120.5730
                      Supermarket Type2          1810.9760
Seafood               Supermarket Type1          1267.6832
                      Supermarket Type2          3745.1250
Snack Foods           Supermarket Type1           343.5528
                      Supermarket Type2          3068.0064
Soft Drinks           Supermarket Type1          2085.2856
                      Supermarket Type2           443.4228
Starchy Foods         Supermarket Type1          6301.1312
                      Supermarket Type2          3199.8348

### How are Outlet_Sizes distributed based on the city type:: using crosstab fn

#### this fn is used to get the initial feel of the data. Here we can validate some basic hypothesis

#### for eg., in this case "Outlet_Location_Type" is expected to affect the "Outlet_Size" significantly. This can be tested using cross-tabulation as shown below

In [10]:
#generate cross-tab of outlet size based on the outlet city

pd.crosstab(data["Outlet_Size"], data["Outlet_Location_Type"], margins = True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     932   932
Medium                   930       0     928  1858
Small                    930     930       0  1860
All                     1860     930    1860  4650

## How are the sales changing per year?? pivottable

In [11]:
# Pandas can be used to create MS Excel pivot table

In [12]:
# The fun thing about pandas pivot_table is you can get another POV on your data with only one line of code.

In [ ]:
# Most of the pivot_table params use default values so the only mandatory params you must add are data and index

# data: dataframe
# index: is the column, grouper, array you'd like to group your data by.
# values (optional): is the column you'd like to aggregate. If you do not specify this then the function will aggregate all numeric columns

In [13]:
pd.pivot_table(data, index=["Outlet_Establishment_Year"], values="Item_Outlet_Sales")

                           Item_Outlet_Sales
Outlet_Establishment_Year
1987                             2298.995256
1997                             2277.844267
1999                             2348.354635
2004                             2438.841866
2009                             1995.498739

In [14]:
# By default it calculates the mean of the values that are passed

In [16]:
# Creating pivot table using multiple columns

pd.pivot_table(data, index=["Outlet_Establishment_Year", "Outlet_Location_Type", "Outlet_Size"], values="Item_Outlet_Sales")

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1987                      Tier 3               High               2298.995256
1997                      Tier 1               Small              2277.844267
1999                      Tier 1               Medium             2348.354635
2004                      Tier 2               Small              2438.841866
2009                      Tier 3               Medium             1995.498739

In [17]:
# Creating pivot table using multiple columns and applying different aggregate functions

pd.pivot_table(data, index=["Outlet_Establishment_Year", "Outlet_Location_Type", "Outlet_Size"], values="Item_Outlet_Sales", aggfunc = [np.mean, np.median, min, max, np.std])

,,,mean,median,min,max,std
,,,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales
Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Size,,,,,
1987,Tier 3,High,2298.995256,2050.6640,73.2380,10256.6490,1533.531664
1997,Tier 1,Small,2277.844267,1945.8005,101.8674,9779.9362,1488.405631
1999,Tier 1,Medium,2348.354635,1966.1074,111.8544,7646.0472,1513.289464
2004,Tier 2,Small,2438.841866,2109.2544,113.8518,8479.6288,1538.512533
2009,Tier 3,Medium,1995.498739,1655.1788,69.2432,6768.5228,1375.932889